{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Double DB Project</title>
    <link rel="stylesheet" href="{% static '/base.css' %}">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="{% url 'full-list' %}">Full List</a></li>
        <li><a href="{% url 'index' %}">Default List</a></li>
        <li><a href="{% url 'create-example-model' %}">Create Model</a></li>
    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>